body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #eee;
}
.container{
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
input, button{
  padding: 10px;
  margin: 10px 0;
  width: 90%;
}
button{
  background: #ff9800;
  border:none;
  color:#000;
  font-weight: bold;
}
